<% if !@error.nil? %>
<div id="error">
	<%= @error %>
</div>
<% end %>
<div id="form">
	<form>
		<a class="sign-in" href="/auth/twitter"><img src="/sign-in.png" alt="Sign in with Twitter" /></a>
	</form>
</div>